::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #fdfdfd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #34a261;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #34a261;
}